# Control statements

In [1]:
### Apython program the expresses digit in from of one
num=1
if num ==1:
    print("One")

One

In [3]:
# checking if the number is even or odd with input (0 is ignored)
num = int(input("Enter the number:"))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter the number:0
Even

In [6]:
# checking if the number is positive or negetive or zero (if elif else)
num = int(input("Enter the number:"))
if num > 0:
    print('Positive')
elif num < 0:
    print('Negative')
else:
    print('Zero')

Enter the number:8
Positive

# While loop

In [7]:
#simple while loop that prints the numbers from 1 to 10
x=1
while x<=10:
    print(x)
    x+=1
print("end")

1
2
3
4
5
6
7
8
9
10
end

In [2]:
#a python program to display even numbers between 100 and 200
x = 100
while x>=100 and x<=200:
    print(x)
    x+=2
print('end')

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
end

In [5]:
# lets do same 100 -200 problem with for loop
m = int(input("Enter the starting number:"))
n = int(input("Enter the last number:"))
for i in range(m,n+1):
    if i%2 == 0:
        print(i)
print('end')

Enter the starting number:5
Enter the last number:15
6
8
10
12
14
end

In [7]:
# python program to print the sequence of word eneterd by the user
str = input("Enter the word:")
n= len(str)
for i in range(n):
    print(str[i])

Enter the word:sarthak
s
a
r
t
h
a
k

In [13]:
# a program to display numbers in decending order
for i in range(11,0,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [14]:
#program to display elements of list using for loop
list = [10,15.5,'a','America']
for i in list:
    print(i)

10
15.5
a
America

In [16]:
# finding sum of numbers using for loop
list = [3,7,5,6]
sum=0
for i in list:
    print(i)
    sum+=i
print("sum=",sum)

3
7
5
6
sum= 21

In [1]:
#the ablove problem can simply be solved using sum functiolist.sum
list = [3,7,5,6]
sum(list)

21

In [1]:
#same program using while loop
list = [3,7,5,6]
sum = 0 
i = 0
while i < len(list):
    print(i)
    sum+=list[i]
    i += 1
print("Sum=",sum)

0
1
2
3
Sum= 21

# Nested Loops

In [2]:
#nested for loops 
for i in range(0,2):
    for j in range(0,3):
        print("i=",i,'\t','j=',j)

i= 0 	 j= 0
i= 0 	 j= 1
i= 0 	 j= 2
i= 1 	 j= 0
i= 1 	 j= 1
i= 1 	 j= 2

In [1]:
# displaying the right angle triangle pattern using nested for loops 
n = int(input("Enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

Enter the number of rows:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [8]:
# another way
for i in range(1,11):
    print("*"*(i))

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
#perform simple linear search of element throught the list
list = [1,2,3,4,5,6,16,7,87]
n = int(input("Enter the number:"))
for i in list:
    if i == n:
        print("found on following index",i)
        break
else:
    print("No element found")

Enter the number:87
found on following index 87

In [1]:
# a program that takes maximum number and give you all the prime numbers before them
max = int(input("Enter the number: "))
for num in range(2,max+1):
    for i in range(2, num):
        if num%i == 0:
            break
    else:
        print(num,end=" ")

Enter the number: 10
2 3 5 7

In [2]:
# in the next program we will generate the fibonacci sequence using nested for loops
max = int(input("Enter the max num:"))
f1 = 0 
f2 = 1
c = 2
while c<max+1:
    f = f1 + f2
    print(f,end =" ")
    f1,f2 = f2,f
    c+=1

Enter the max num:5
1 2 3 5

# Strings and Characters

In [17]:
#creating a string
s1 = 'this is a string'
print(s1)
type(s1)

this is a string

str

In [19]:
#printing string in forward and reverse order
s1 = str(input("Enter the string:"))
i = 0
n = len(s1)
while i < n:
    print(s1[i], end=" ")
    i+=1

print()

i=-1
while i >= -n:
    print(s1[i], end=" ")
    i-=1

Enter the string:hello sarthak
h e l l o   s a r t h a k
k a h t r a s   o l l e h

## slicing the string

In [4]:
str = 'Sarthak Patel'
str[1:4]
str[:5]
str[5:]
str[::2]

'SrhkPtl'

In [5]:
# negetive slicing 
str[-4:-1]

'ate'

In [6]:
str[-1::-1]

'letaP kahtraS'

## Repreating the strings

In [7]:
s1 = 'hello'
s1*2

'hellohello'

In [11]:
s2 = 'sarthakpatel'
s2[0:7]*2

'sarthaksarthak'

## Concatenation in string

In [12]:
s1 = 'sarthak'
s2 = 'patel'
print(s1+s2)

sarthakpatel

## Checking Membership

In [16]:
s1 = input("Enter the string :")
s2 = input("Enter the substring:")
if s2 in s1:
    print(s2,'is found in main string')
else:
    print(s2,'is not found in main string')

Enter the string :sarthakisthebest
Enter the substring:avg
avg is not found in main string

## Comparing strings

In [18]:
s1 = 'box'
s2 = 'boy'
if s1 == s2:
    print('they are same')
else:
    print("they are different")

they are different

In [19]:
if s1 < s2:
    print('is less than s2')
else:
    print('is greater than s2')

is less than s2

## Removing spaces from the string

In [21]:
s1 = '  sarthak patel  '
print(s1.lstrip())

sarthak patel

In [22]:
print(s1.rstrip())

  sarthak patel

In [23]:
print(s1.strip())

sarthak patel

## Finding substrings

In [25]:
str1 = input("Enter the main string :")
sub = input('Enter the sub string :')
n = str1.find(sub,0,len(str1))
if n == -1:
    print("The substring is not found")
else:
    print("The substring is found at position :",n+1)

Enter the main string :sarthak is the best
Enter the sub string :better
The substring is not found

In [3]:
# python program that displays all the positions of the substring

string = input("Enter the main string:")
sub = input("Enter the sub string:")
i = 0
flag = False
n = len(string)
while i < n:
    pos = string.find(sub,i,n)
    if pos != -1:
        print("substring found at position:",pos+1)
        i = pos+1
        flag = True
    else:
        i = i+1
if flag == False:
    print("Substring not found")

Enter the main string:sarthak is the bestest of the best
Enter the sub string:best
substring found at position: 16
substring found at position: 31

## Counting substrings in a string

In [4]:
str = 'new delhi'
n= str.count('e',0,len(str))
print(n)

2

## Replacing a string with another string

In [5]:
str = 'That is an amazing car'
s1 = 'car'
s2 = 'watch'
n = str.replace(s1,s2)
print(n)

That is an amazing watch

## Splitting and joining strings

In [2]:
# making a list of numbers from string got from input
str = input("Enter the numbers seperated by spaces:")
lst = str.split(' ')
for i in lst:
    print(i)

Enter the numbers seperated by spaces:1 2 3
1
2
3

In [3]:
str1 = ','.join(lst)
print(str1)
type(str1)

1,2,3

str

## changing case in string

In [9]:
str1 = 'My name is Sarthak'
str1.upper()

'MY NAME IS SARTHAK'

In [10]:
str1.lower()

'my name is sarthak'

In [11]:
str1.swapcase()

'mY NAME IS sARTHAK'

In [12]:
str1.title()

'My Name Is Sarthak'

## formatting the strings

In [13]:
id = 10 
name = 'sarthak'
sal = 19500.75

str = '{} {} {}'.format(id,name,sal)
print(str)

10 sarthak 19500.75

## sorting strings

In [5]:
# python program to take input of strings and return them sorted

str = []
n = int(input("Enter the number of strings you will input:"))

for i in range(n):
    word = input("Enter the string:")
    str.append(word)

str1 = sorted(str)

for i in str1:
    print(i)

Enter the number of strings you will input:5
Enter the string:sarthak
Enter the string:nishil
Enter the string:jemin
Enter the string:nirman
Enter the string:hitarth
hitarth
jemin
nirman
nishil
sarthak

## searching in a string

In [7]:
#python program to search the string
str = []

n = int(input("Enter the number of strings you need:"))

for i in range(n):
    word = input("Enter the string : ")
    str.append(word)

s1 = input("Enter the snippet to be found: ")

flag = False

for i in range(len(str)):
    if s1 == str[i]:
        print("snippet found at index",i+1)
        flag = True
if flag == False:
    print("snippet not found :<")

Enter the number of strings you need:3
Enter the string : sarthak
Enter the string : nishil
Enter the string : neec
Enter the snippet to be found: jemin
snippet not found :<

In [8]:
## python program to enter a substring in main string from a specific index

str = input("Enter the main string : ")
sub = input("Enter the substring : ")
n = int(input("Enter the index at of substring : "))

l1 =len(str)
l2 =len(sub)

str1 = []

for i in range(n):
    str1.append(str[i])
for i in range(l2):
    str1.append(sub[i])
for i in range(n,l1):
    str1.append(str[i])
str1 = ''.join(str1)
print(str1)

Enter the main string : sarthak is a programmer
Enter the substring : best
Enter the index at of substring : 12
sarthak is abest programmer

In [11]:
s = 'sarthak is a boy'
v = list(s)
print(v)

['s', 'a', 'r', 't', 'h', 'a', 'k', ' ', 'i', 's', ' ', 'a', ' ', 'b', 'o', 'y']

# Functions

In [2]:
# a sum function
def sum(a,b):
    return a+b
sum(5,10)

15

In [8]:
# a function to test weather the number is even or odd

def oddeven(n):
    if n%2==0:
        print("Number is even")
    else:
        print("Number is odd")

oddeven(5)
oddeven(6)

Number is odd
Number is even

In [9]:
# function to find the factorial number 
def fact(n):
    f = 1
    while n>=1:
        f*=n
        n-=1
    return f

fact(5)

120

In [7]:
# a function to check if a number is prime 
def prime(n):
    x=1
    for i in range(2,n):
        if n%i==0:
            x=0
            break
        else:
            x=1
    return x

num = int(input("Enter the number: "))
result = prime(num)
if result == 1:
    print("prime")
elif result == 0:
    print("not prime")

Enter the number: 7
prime

# Recursive Functions

In [5]:
# first lets solve factorial as normall method

def factorial(n=int):
    if n==0:
        results = 1
    else:
        result = n*fact(n-1)
        return result

for i in range(1,11):
    print('Factorial of number {} is {}'.format(i,factorial(i)))

NameError: name 'fact' is not defined

# Anonymus functions or lambda function

In [4]:
#simple lambda function
f = lambda x: x*x
value = f(5)
print(value)

25

In [21]:
#lambda sum
sum = lambda x,y: x+y
add = sum(2,5)
print(add)

7

## map function

In [24]:
lst = [2,4,3,5]
lst1 = list(map(lambda x : x*x , lst))
print(lst1)

[4, 16, 9, 25]

# Lists and Tuples

## sorting a list

In [6]:
x=[]
n = int(input("Enter the total elements of list: "))
for i in range(n):
    m = int(input("Enter the element: "))
    x.append(m)

print("Original list: ", x)

#bubble sort
flag = False
for i in range(n-1):
    for j in range(n-i-1):
        if x[j]>x[j+1]:
            x[j],x[j+1]=x[j+1],x[j]
            flag=True
    if flag==False:
        break
    else:
        flag = False
print('Sorted list: ',x)

Enter the total elements of list: 4
Enter the element: 3
Enter the element: 1
Enter the element: 2
Enter the element: 4
Original list:  [3, 1, 2, 4]
Sorted list:  [1, 2, 3, 4]

In [ ]:
# searching in list

x=[]
n = int(input("Enter the total elements of list: "))
for i in range(n):
    m = int(input("Enter the element: "))
    x.append(m)

print("Original list: ", x)


s1=int(input("Enter the element to be searched in the list: "))

lower = 0
upper = len(x)-1

while lower<=upper:
    mid = (lower+upper)//2

    if x[mid]<s1:
        lower = mid+1
        
    elif x[mid]>s1:
        upper= mid-1
    else:
        print("Element found on index:",mid)
return -1

Enter the total elements of list: 5
Enter the element: 1
Enter the element: 2
Enter the element: 3
Enter the element: 4
Enter the element: 5
Original list:  [1, 2, 3, 4, 5]
Enter the element to be searched in the list: 3

In [3]:
s1 = [1,2,3,4]
s2 = [3,4,5,6]
one = set(s1)
two = set(s2)
inter = one.intersection(two)
common = list(inter)
common

[3, 4]

## Pandas

In [3]:
# making dataframe with list
import pandas as pd
lst = ['socrates','camus','dostoevsky','kafka','seneca']
df = pd.DataFrame(lst)
print(df)

            0
0    socrates
1       camus
2  dostoevsky
3       kafka
4      seneca

In [4]:
#making a df using dictionary
dict = {'Name':['camus','dostoevsky','kafka','seneca'],
       'Works':['the plague','white nights','metamorphosis','letters']}
df = pd.DataFrame(dict)
print(df)

         Name          Works
0       camus     the plague
1  dostoevsky   white nights
2       kafka  metamorphosis
3      seneca        letters

In [5]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [6]:
df[['Name','Qualification']]

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [7]:
df[['Age','Qualification']]

   Age Qualification
0   27           Msc
1   24            MA
2   22           MCA
3   32           Phd

In [27]:
## importing csv
data = pd.read_csv('nba.csv')
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [17]:
first = data.loc['Kobe Bryant']
second = data.loc['Jeff Withey']

print(first,"\n\n\n\n",second)

Team        Los Angeles Lakers
Number                    24.0
Position                    SF
Age                       37.0
Height                     6-6
Weight                   212.0
College                    NaN
Salary              25000000.0
Name: Kobe Bryant, dtype: object



 Team        Utah Jazz
Number           24.0
Position            C
Age              26.0
Height            7-0
Weight          231.0
College        Kansas
Salary       947276.0
Name: Jeff Withey, dtype: object

In [19]:
#by using iloc
third = data.iloc[0]
print(third)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [28]:
## selecting multiple columns

print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [30]:
mulcol = data[['Name','Height','Weight']]
print(mulcol)

              Name Height  Weight
0    Avery Bradley    6-2   180.0
1      Jae Crowder    6-6   235.0
2     John Holland    6-5   205.0
3      R.J. Hunter    6-5   185.0
4    Jonas Jerebko   6-10   231.0
..             ...    ...     ...
453   Shelvin Mack    6-3   203.0
454      Raul Neto    6-1   179.0
455   Tibor Pleiss    7-3   256.0
456    Jeff Withey    7-0   231.0
457            NaN    NaN     NaN

[458 rows x 3 columns]

In [34]:
mulrow = data.iloc[[0,3]]
mulrow

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [41]:
data = pd.read_csv('nba.csv',index_col='Name')
slic=data.loc[['Avery Bradley','Kobe Bryant'],['Age','Team','Salary']]
slic

                Age                Team      Salary
Name
Avery Bradley  25.0      Boston Celtics   7730337.0
Kobe Bryant    37.0  Los Angeles Lakers  25000000.0

In [42]:
data[['Age','College']]

                Age            College
Name
Avery Bradley  25.0              Texas
Jae Crowder    25.0          Marquette
John Holland   27.0  Boston University
R.J. Hunter    22.0      Georgia State
Jonas Jerebko  29.0                NaN
...             ...                ...
Shelvin Mack   26.0             Butler
Raul Neto      24.0                NaN
Tibor Pleiss   26.0                NaN
Jeff Withey    26.0             Kansas
NaN             NaN                NaN

[458 rows x 2 columns]

In [47]:
dict = {'Name':['Sarthak','Rohit','Ram'],
       'Age':[23,21,22]}
df = pd.DataFrame(dict)
df

      Name  Age
0  Sarthak   23
1    Rohit   21
2      Ram   22

In [49]:
df.iloc[1,0]

'Rohit'

# Linked list

In [10]:
class node:
    def __init__(self,value):
        self.data = value
        self.next = None

a = node(2)
b = node(3)
c = node(4)

a.next = b
b.next = c

print(a.next)

<__main__.node object at 0x0000021C8281A320>

In [17]:
class node:
    
    def __init__(self,value):
        self.data = value
        self.next = None

class linkedlist:
    
    def __init__(self):
        self.head = None
        self.n = 0
    
    def __len__(self):
        return self.n
    
    def insert_head(self,value):
        new_node = node(value)
        new_node.next = self.head
        self.head = new_node
        self.n+=1

    def traverse(self):
        curr = self.head
        while curr != None:
            print(curr.data)
            curr = curr.next

In [20]:
L = linkedlist()
L.insert_head(4)
L.insert_head(3)
L.insert_head(2)
L.insert_head(1)

L.traverse()

1
2
3
4